$accent: #a3bbc8;
$title: #191919;
$blue72: #436372;
$blue4d: #243f4d;
$grey58: #585858;
$grey8b: #8b8b8b;
$grey41: #414141;


%dmsans-400{
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

